.tooltip-container {
    position: relative;
}

.tooltip-container:has(.tooltip.clicked) {
    pointer-events: none;
    user-select: none;
}

.tooltip {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;

    width: max-content;
    max-width: 300px;
    max-height: 42px;
    padding: 12px;

    text-align: center;
    text-transform: initial;
    translate: -50% 0;
    transition: opacity .2s ease;

    color: #f9f9f9;
    opacity: 0.9;
    border-radius: 4px;
    background: #363a47;
}

.tooltip::after {
    position: absolute;
    bottom: -13px;
    left: 50%;
    translate: -50% 0;
    border-top-color: #363a47;
    content: "";

    border: 7px solid transparent;
    border-top-color: #363a47;

}

.tooltip.hidden {
    opacity: 0;
    visibility: hidden;
}

.tooltip.clicked {
    font-size: 0;

    opacity: .9;
    visibility: visible;
}

.tooltip.clicked::before {
    font-size: 14px;
    content: "Скопировано";
}
